<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo"><a href="http://www.creative-tim.com" class="simple-text logo-normal">
        Test-Dev
      </a></div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">
            <i class="material-icons">content_paste</i>
            <p>Create User</p>
          </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/createphonenumber">
                <i class="material-icons">content_paste</i>
                <p>Create Phone Numbers</p>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/admin/linkphonenum">
                <i class="material-icons">content_paste</i>
                <p>Link Phone Numbers</p>
            </a>
        </li>


      </ul>
    </div>
  </div>